<div class="row">
  <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>Task</th>
            <th>Parent</th>
            <th>Priority</th>
            <th>Start</th>
            <th>End</th>
            <th>Status</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ task.task }}</td>
            <td>{{ task.parentTask?.parentTask }}</td>
            <td>{{ task.priority }}</td>
            <td>{{ task.startDate }}</td>
            <td>{{ task.endDate }}</td>
            <td>{{ task.status }}</td>
            <td><button type="button" class="btn btn-primary" style="width: 100%" (click)="editTask(task)">Edit</button></td>
            <td><button type="button" class="btn btn-primary" style="width: 100%" (click)="endTask(task)" *ngIf="task.status === 'OPEN'">End Task</button></td>
          </tr>
        </tbody>
      </table>
    </div>
</div>