
  <div class="panel panel-info" style="margin-left: 0px; margin-bottom: 5rem;">
      <div class="panel-heading">
          <h3 class="panel-title">Add/Edit</h3>
        </div>
        <div class="panel-body">

          <div class="alert alert-success alert-dismissible" *ngIf="status && status.success">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ status.msg }}
          </div>
          <div class="alert alert-danger alert-dismissible" *ngIf="status && !status.success">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            {{ status.msg }}
          </div>
          
          <form [formGroup]="form" (ngSubmit)="addTask()" class="form-horizontal">
              
              <input type="hidden" formControlName="taskId">
              <input type="hidden" formControlName="projectId">
              <input type="hidden" formControlName="parentTaskId">
              <input type="hidden" formControlName="userId">
              
              <div class="form-group">
                <label for="inputProjectName" class="col-sm-2 control-label">Project</label>
                <div class="col-sm-8">
                  <input type="text" 
                        class="form-control" 
                        id="inputProjectName" 
                        placeholder="Project Name (Required)"
                        formControlName="projectName"
                        readonly
                        >
                </div>
                <button type="button" 
                  class="btn btn-info" 
                  (click)="openModal('all-projects-modal')">Search</button>
              </div>

              <div class="form-group">
                <label for="inputTaskName" class="col-sm-2 control-label">Task</label>
                <div class="col-sm-8">
                  <input type="text" 
                        class="form-control" 
                        id="inputTaskName" 
                        placeholder="Task Name (Required)"
                        formControlName="name"
                        >
                  <div *ngIf="form.controls.name.touched &&
                  !form.controls.name.valid" 
                  class="alert alert-danger">Task name required</div>
                </div>
              </div>

              <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <div class="checkbox">
                      <label>
                        <input type="checkbox" formControlName="parentType"> Parent Task
                      </label>
                    </div>
                  </div>
              </div>

              <div class="form-group">
                <label for="inputPriority" class="col-sm-2 control-label">Priority</label>
                <div class="col-sm-8">
                  <input type="range" 
                        class="form-control" 
                        id="inputPriority" 
                        value="1"
                        formControlName="priority"
                        >
                </div>
              </div>

              <div class="form-group">
                <label for="inputParentTask" class="col-sm-2 control-label">Parent Task</label>
                <div class="col-sm-8">
                  <input type="text" 
                        class="form-control" 
                        id="inputParentTask" 
                        placeholder="Parent Task (Optional)"
                        formControlName="parentTaskName"
                        readonly
                        >
                </div>
                <button type="button" 
                class="btn btn-info"
                *ngIf="form.contains('parentTaskName')"
                (click)="openModal('all-parent-tasks-modal')">Search</button>
              </div>

              <div class="form-group">
                  <label for="inputStartDate" class="col-sm-2 control-label">Start Date</label>
                  <div class="col-sm-2">
                      <input type="date" 
                            class="form-control" 
                            id="inputStartDate" 
                            formControlName="startDate"
                            >
                  </div>
                  <label for="inputEndDate" class="col-sm-2 control-label">End Date</label>
                  <div class="col-sm-2">
                      <input type="date" 
                            class="form-control" 
                            id="inputEndDate" 
                            formControlName="endDate"
                            >
                  </div>

                </div>
                <div *ngIf="form.errors?.invalidStartEndDate && (form.touched || form.dirty)" class="alert alert-danger">
                  Start date can't be greater than end date.
                </div>
                
              <div class="form-group">
                  <label for="inputUser" class="col-sm-2 control-label">User</label>
                  <div class="col-sm-8">
                    <input type="text" 
                          class="form-control" 
                          id="inputUser" 
                          placeholder="User (Required)"
                          formControlName="userName"
                          readonly
                          >
                  </div>
                  <button type="button" 
                  class="btn btn-info"
                  *ngIf="form.contains('userName')"
                  (click)="openModal('all-users-modal')">Search</button>
                </div>

              <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">

                  <button class="btn btn-primary"
                    type="submit"
                    style="width:80px;margin-right:10px"
                    [disabled]="!form.valid"
                    *ngIf="form.controls.taskId.value < 0"
                    >Add</button>
                  
                  <button class="btn btn-primary"
                    type="submit"
                    style="width:80px;margin-right:10px"
                    *ngIf="form.controls.taskId.value > 0"
                    [disabled]="!form.valid"
                    >Update</button>

                  <button class="btn btn-outline-secondary"
                    type="button"
                    style="width:80px"
                    (click)="resetForm()"
                    >Reset</button>

                </div>
              </div>

            </form>
        </div>
  </div>

  <jw-modal id="all-projects-modal" 
    type="Projects"
    title="List of available projects"
    (onSelect)="selectProjectFromModal($event)">
  </jw-modal>

  <jw-modal id="all-parent-tasks-modal" 
    type="ParentTasks"
    title="List of parent tasks"
    (onSelect)="selectParentTaskFromModal($event)">
  </jw-modal>

  <jw-modal id="all-users-modal" 
    type="Users"
    title="List of available users"
    (onSelect)="selectUserFromModal($event)">
  </jw-modal>
