<div class="row">
  <div class="col-12 col-md-4">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Project: {{project.name}}</h4>
        <table class="table">
          <tr>
            <td>No of Tasks: </td>
            <td>Comleted: </td>
          </tr>
          <tr>
            <td>Start date: </td>
            <td>End date: </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Priority</h4>
        <span>High</span>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-2">
    <div class="card border-0">
      <div class="card-body">
        <a href="#" class="btn btn-primary" style="margin-bottom: 1rem;">Update</a><br>
        <a href="#" class="btn btn-primary">Suspend</a>
      </div>
    </div>
  </div>
</div>
<hr>