
  <div class="panel panel-info" style="margin-left: 0px; margin-bottom: 5rem;">
      <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-2">
                    <form [formGroup]="form">
                        <input type="hidden" formControlName="projectId">
                        <input type="text" formControlName="projectName" placeholder="Search project..." readonly>
                    </form>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-sm btn-info" 
                        (click)="openModal('all-projects-modal')">Search</button>
                </div>
                
                <div class="col-sm-1">Sort:</div>
                <div class="col-sm-2">
                  <button type="button" class="btn btn-sm btn-info" style="width: 100%" (click)="sortTasksBy('startdate')">Start Date</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-info" style="width: 100%" (click)="sortTasksBy('enddate')">End Date</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-info" style="width: 100%" (click)="sortTasksBy('priority')">Priority</button>
                </div>
                <div class="col-sm-2">
                    <button type="button" class="btn btn-sm btn-info" style="width: 100%" (click)="sortTasksBy('status')">Status</button>
                </div>
              </div>
              <div style="margin-top: 10px;">
                  <task-card *ngFor="let task of tasks" [task]="task"></task-card>
              </div>
          
        </div>
  </div>

  <jw-modal id="all-projects-modal" 
    type="Projects"
    title="List of available projects"
    (onSelect)="selectProjectFromModal($event)">
  </jw-modal>
