
  <div class="panel panel-info" style="margin-left: 0px;">
      <div class="panel-heading">
          <h3 class="panel-title">Tasks</h3>
        </div>
        <div class="panel-body">

            <div class="row">
                <div class="col-sm-3">
                  Project: <input type="text" placeholder="Search...">
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </div>
                
                <div class="col-sm-1">Sort:</div>
                <div class="col-sm-1">
                  <button type="button" class="btn btn-info">Start Date</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info">End Date</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info">Priority</button>
                </div>
                <div class="col-sm-1">
                    <button type="button" class="btn btn-info">Completed</button>
                </div>
              </div>
              <div style="margin-top: 10px;">
                  <task-card></task-card>
                  <task-card></task-card>
              </div>
          
        </div>
  </div>
