#page-container {
    position: relative;
    min-height: 100vh;
  }

  
   #footer {
    position: absolute;
    bottom: 0;
    width: 100%;
   /* line-height: 2.9rem;*/
    height: 2.9rem;            /* Footer height */
  }