<div class="row">
  <div class="col-sm-3"><input type="text" placeholder="Search..."></div>
  
  <div class="col-sm-1">Sort:</div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-info" (click)="sortUsersBy('fname')">FirstName</button>
  </div>
  <div class="col-sm-1">
      <button type="button" class="btn btn-info" (click)="sortUsersBy('lname')">LastName</button>
  </div>
  <div class="col-sm-1">
      <button type="button" class="btn btn-info" (click)="sortUsersBy('empid')">Id</button>
  </div>
</div>
<div style="margin-top: 10px;">
    <user-card *ngFor="let user of users" [user]="user"></user-card>
</div>
 