<div class="row">
  <div class="col-sm-3"><input type="text" placeholder="Search..."></div>
  
  <div class="col-sm-1">Sort:</div>
  <div class="col-sm-1">
    <button type="button" class="btn btn-primary">FirstName</button>
  </div>
  <div class="col-sm-1">
      <button type="button" class="btn btn-primary">LastName</button>
  </div>
  <div class="col-sm-1">
      <button type="button" class="btn btn-primary">Id</button>
  </div>
</div>
<div style="margin-top: 10px;">
    <user-card></user-card>
</div>
 