<div class="row">
  <div class="col-sm-3"><input type="text" [(ngModel)]="searchTerm" placeholder="Search..."></div>
  
  <div class="col-sm-1">Sort:</div>
  <div class="col-sm-2">
    <button type="button" class="btn btn-sm btn-info" style="width: 100%" (click)="sortUsersBy('fname')">FirstName</button>
  </div>
  <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-info" style="width: 100%" (click)="sortUsersBy('lname')">LastName</button>
  </div>
  <div class="col-sm-2">
      <button type="button" class="btn btn-sm btn-info" style="width: 100%" (click)="sortUsersBy('empid')">EmpId</button>
  </div>
</div>
<div style="margin-top: 10px;">
    <user-card *ngFor="let user of users | filterUser:searchTerm" [user]="user"></user-card>
</div>
 