<div class="row">
  <div class="col-sm-8">
      <ul class="list-group">
          <li class="list-group-item">{{user.firstName}}</li>
          <li class="list-group-item">{{user.lastName}}</li>
          <li class="list-group-item">{{user.employeeId}}</li>
        </ul>
  </div>
  <div class="col-sm-1">
    <div class="btn-group-vertical">
        <button type="button" class="btn btn-primary" (click)="editUser(user)">Edit</button>
        <button type="button" class="btn btn-danger" (click)="deleteUser(user)">Delete</button>
    </div>
    
  </div>
</div>
<hr>
