<div class="row">
  <div class="col-sm-8">
      <ul class="list-group">
          <li class="list-group-item">{{user.firstName}}</li>
          <li class="list-group-item">{{user.lastName}}</li>
          <li class="list-group-item">{{user.employeeId}}</li>
        </ul>
  </div>
  <div class="col-sm-2">
    <div>
        <button type="button" class="btn btn-sm btn-primary" style="margin-bottom: 15px; width: 100%" (click)="editUser(user)">Edit</button>
        <button type="button" class="btn btn-sm btn-danger" style="width: 100%" (click)="deleteUser(user)">Delete</button>
    </div>
    
  </div>
</div>
<hr>
