<div class="row">
    <div class="col-sm-3"><input type="text" placeholder="Search..."></div>
    
    <div class="col-sm-1">Sort:</div>
    <div class="col-sm-1">
      <button type="button" class="btn btn-primary">Start Date</button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary">End Date</button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary">Priority</button>
    </div>
    <div class="col-sm-1">
        <button type="button" class="btn btn-primary">Completed</button>
    </div>
  </div>
  <div style="margin-top: 10px;">
      <project-card></project-card>
  </div>
   